<%= form_for @monster do |f| %>

<table class="table">
  <tr class="danger text-center">
    <td><%= f.label :name %>
      <%= f.text_field :name, class: 'form-control', placeholder: "Enter Name" %></td>
  
    <td><%= f.label :mon_type, "Type" %>
      <%= f.text_field :mon_type, class: 'form-control', placeholder: "Enter Type" %></td>
  </tr>
  
  <tr class="warning text-center">
    <td><strong>Ability</strong></td>
    <td><strong>Focuses</strong></td>
  </tr>
  
  <tr>
    <div class="form-inline">
      <td><%= f.select :accuracy, @ability_options, include_blank: false, selected: "0" %>
        <%= f.label :accuracy %></td>
      
      <td>
        <%= f.check_box :arcane_blast %>&nbsp;<%= f.label :arcane_blast, "Arcane Blast" %><br />
        <%= f.check_box :bows %>&nbsp;<%= f.label :bows, "Bows" %><br />
        <%= f.check_box :black_powder %>&nbsp;<%= f.label :black_powder, "Black Powder" %><br />
        <%= f.check_box :brawling %>&nbsp;<%= f.label :brawling, "Brawling" %><br />
        <%= f.check_box :dueling %>&nbsp;<%= f.label :dueling, "Dueling" %><br />
        <%= f.check_box :grenades %>&nbsp;<%= f.label :grenades, "Grenades" %><br />
        <%= f.check_box :light_blades %>&nbsp;<%= f.label :light_blades, "Light Blades" %><br />
        <%= f.check_box :staves %>&nbsp;<%= f.label :staves, "Staves" %>
      </td>
    </div>
  </tr>

  <tr>
    <div class="form-inline">
      <td><%= f.select :communication, @ability_options, include_blank: false, selected: "0" %>
        <%= f.label :communication %></td>
 
      <td>
        <%= f.check_box :animal_handling %>&nbsp;<%= f.label :animal_handling, "Animal Handling" %><br />
        <%= f.check_box :bargaining %>&nbsp;<%= f.label :bargaining, "Bargaining" %><br />
        <%= f.check_box :deception %>&nbsp;<%= f.label :deception, "Deception" %><br />
        <%= f.check_box :disguise %>&nbsp;<%= f.label :disguise, "Disguise" %><br />
        <%= f.check_box :etiquette %>&nbsp;<%= f.label :etiquette, "Etiquette" %><br />
        <%= f.check_box :gambling %>&nbsp;<%= f.label :gambling, "Gambling" %><br />
        <%= f.check_box :investigation %>&nbsp;<%= f.label :investigation, "Investigation" %><br />
        <%= f.check_box :leadership %>&nbsp;<%= f.label :leadership, "Leadership" %><br />
        <%= f.check_box :performance %>&nbsp;<%= f.label :performance, "Performance" %><br />
        <%= f.check_box :persuasion %>&nbsp;<%= f.label :persuasion, "Persuasion" %><br />
        <%= f.check_box :seduction %>&nbsp;<%= f.label :seduction, "Seduction" %>
      </td>
    </div>
  </tr>
  
  <tr>
    <div class="form-inline">
      <td><%= f.select :constitution, @ability_options, include_blank: false, selected: "0" %>
        <%= f.label :constitution %></td>
      
      <td>
        <%= f.check_box :drinking %>&nbsp;<%= f.label :drinking, "Drinking" %><br />
        <%= f.check_box :rowing %>&nbsp;<%= f.label :rowing, "Rowing" %><br />
        <%= f.check_box :running %>&nbsp;<%= f.label :running, "Running" %><br />
        <%= f.check_box :stamina %>&nbsp;<%= f.label :stamina, "Stamina" %><br />
        <%= f.check_box :swimming %>&nbsp;<%= f.label :swimming, "Swimming" %>
      </td>
    </div>
  </tr>
  
  <tr>
    <div class="form-inline">
      <td><%= f.select :dexterity, @ability_options, include_blank: false, selected: "0" %>
        <%= f.label :dexterity %></td>
      
      <td>
        <%= f.check_box :acrobatics %>&nbsp;<%= f.label :acrobatics, "Acrobatics" %><br />
        <%= f.check_box :calligraphy %>&nbsp;<%= f.label :calligraphy, "Calligrphy" %><br />
        <%= f.check_box :crafting %>&nbsp;<%= f.label :crafting, "Crafting" %><br />
        <%= f.check_box :initiative %>&nbsp;<%= f.label :initiative, "Initiative" %><br />
        <%= f.check_box :legerdemain %>&nbsp;<%= f.label :legerdemain, "Legerdemain" %><br />
        <%= f.check_box :lock_picking %>&nbsp;<%= f.label :lock_picking, "Lock Picking" %><br />
        <%= f.check_box :riding %>&nbsp;<%= f.label :riding, "Riding" %><br />
        <%= f.check_box :piloting %>&nbsp;<%= f.label :piloting, "Piloting" %><br />
        <%= f.check_box :sailing %>&nbsp;<%= f.label :sailing, "Sailing" %><br />
        <%= f.check_box :stealth %>&nbsp;<%= f.label :stealth, "Stealth" %><br />
        <%= f.check_box :traps %>&nbsp;<%= f.label :traps, "Traps" %>
      </td>
    </div>
  </tr>
  
  <tr>
    <div class="form-inline">
      <td><%= f.select :fighting, @ability_options, include_blank: false, selected: "0" %>
        <%= f.label :fighting %></td>
      
      <td>
        <%= f.check_box :axes %>&nbsp;<%= f.label :axes, "Axes" %><br />
        <%= f.check_box :bludgeons %>&nbsp;<%= f.label :bludgeons, "Bludgeons" %><br />
        <%= f.check_box :heavy_blades %>&nbsp;<%= f.label :heavy_blades, "Heavy Blades" %><br />
        <%= f.check_box :lances %>&nbsp;<%= f.label :lances, "Lances" %><br />
        <%= f.check_box :polearms %>&nbsp;<%= f.label :polearms, "Polearms" %><br />
        <%= f.check_box :spears %>&nbsp;<%= f.label :spears, "Spears" %>
      </td>
    </div>
  </tr>
  
</table>

<br /><br />

<div class="form-group text-center">
  <%= f.submit "Generate", class: 'btn btn-success' %>
</div>

<% end %>