<%= form_for @monster do |f| %>

<table class="table">
  <tr class="active">
    <div class="form-inline">
    <td><%= f.label :name %>
      <%= f.text_field :name, class: 'form-control', placeholder: "Enter Name" %></td>
  
    <td><%= f.label :mon_type, "Type" %>
      <%= f.text_field :mon_type, class: 'form-control', placeholder: "Enter Type" %></td>
    </div>
  </tr>

  <tr>
    <div class="form-inline">
      <td><%= f.select :communication, @ability_options, include_blank: false, selected: "0" %>
        <%= f.label :communication %></td>
 
      <td>
        <%= f.check_box :animal_handling %>&nbsp;<%= f.label :animal_handling, "Animal Handling" %><br />
        <%= f.check_box :bargaining %>&nbsp;<%= f.label :bargaining, "Bargaining" %><br />
        <%= f.check_box :deception %>&nbsp;<%= f.label :deception, "Deception" %><br />
        <%= f.check_box :disguise %>&nbsp;<%= f.label :disguise, "Disguise" %><br />
        <%= f.check_box :etiquette %>&nbsp;<%= f.label :etiquette, "Etiquette" %><br />
        <%= f.check_box :gambling %>&nbsp;<%= f.label :gambling, "Gambling" %><br />
        <%= f.check_box :investigation %>&nbsp;<%= f.label :investigation, "Investigation" %><br />
        <%= f.check_box :leadership %>&nbsp;<%= f.label :leadership, "Leadership" %><br />
        <%= f.check_box :performance %>&nbsp;<%= f.label :performance, "Performance" %><br />
        <%= f.check_box :persuasion %>&nbsp;<%= f.label :persuasion, "Persuasion" %><br />
        <%= f.check_box :seduction %>&nbsp;<%= f.label :seduction, "Seduction" %>
      </td>
    </div>
  </tr>
  
  <tr>
    <div class="form-inline">
      <td><%= f.select :constitution, @ability_options, include_blank: false, selected: "0" %>
        <%= f.label :constitution %></td>
      
      <td>
        <%= f.check_box :drinking %>&nbsp;<%= f.label :drinking, "Drinking" %><br />
        <%= f.check_box :rowing %>&nbsp;<%= f.label :rowing, "Rowing" %><br />
        <%= f.check_box :running %>&nbsp;<%= f.label :running, "Running" %><br />
        <%= f.check_box :stamina %>&nbsp;<%= f.label :stamina, "Stamina" %><br />
        <%= f.check_box :swimming %>&nbsp;<%= f.label :swimming, "Swimming" %>
      </td>
    </div>
  </tr>
</table>

<br /><br />

<div class="form-group text-center">
  <%= f.submit "Generate", class: 'btn bnt-success' %>
</div>

<% end %>