<%= form_for @monster do |f| %>

<table class="table">
  <tr class="danger text-center">
    <td colspan="3">
      <%= f.label :name %>&nbsp;&nbsp;
      <%= f.text_field :name, class: 'form-inline', placeholder: "Enter Name" %>&nbsp;&nbsp;&nbsp;&nbsp;
  
      <%= f.label :mon_type, "Type" %>&nbsp;&nbsp;
      <%= f.text_field :mon_type, class: 'form-inline', placeholder: "Enter Type" %>
    </td>
  </tr>
  
  <tr class="warning text-center">
    <td colspan="3"><strong>Combat Ratings</strong></td>
  </tr>
  
  <tr>
    <td class="text-right">
      <%= f.label :speed %>&nbsp;&nbsp;<%= f.text_field :speed, class: 'from-inline', 
        placeholder: "?", size: 4 %>&nbsp;&nbsp;<br />
      <%= f.label :health %>&nbsp;&nbsp;<%= f.text_field :health, class: 'form-inline', 
        placeholder: "?", size: 4 %>&nbsp;&nbsp;
    </td>
    <td></td>
    <td>
      &nbsp;&nbsp;<%= f.label :defense %>&nbsp;&nbsp;<%= f.text_field :defense, class: 'form-inline', 
        placeholder: "?", size: 4 %><br />
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= f.label :armor %>&nbsp;&nbsp;<%= f.text_field :armor, class: 'form-inline', 
        placeholder: "?", size: 4 %>
    </td>
  </tr>
  
  <tr class="warning text-center">
    <td colspan="3"><strong>Spellcasting Ability</strong></td>
  </tr>
  
  <tr class="text-center">
    <td colspan="3">
      <%= f.label :s_ability_confirmation, "Spellcaster?" %>&nbsp;<%= f.check_box :s_ability_confirmation %><br />
      <%= f.label :spellpower %>&nbsp;&nbsp;<%= f.text_field :spellpower, class: 'form-inline',
        placeholder: "?", size: 4 %>&nbsp;&nbsp;&nbsp;
      <%= f.label :mana %>&nbsp;&nbsp;<%= f.text_field :mana, class: 'form-inline',
        placeholder: "?", size: 4 %>
    </td>
  </tr>
  
  <tr class="warning text-center">
    <td colspan="2"><strong>Ability</strong></td>
    <td><strong>Focuses</strong></td>
  </tr>
  
  <tr>
    <div class="form-inline">
      <td colspan="2"><%= f.select :accuracy, @ability_options, include_blank: false, selected: "0" %>
        <%= f.label :accuracy %></td>
      
      <td>
        <%= f.check_box :arcane_blast %>&nbsp;<%= f.label :arcane_blast, "Arcane Blast" %><br />
        <%= f.check_box :bows %>&nbsp;<%= f.label :bows, "Bows" %><br />
        <%= f.check_box :black_powder %>&nbsp;<%= f.label :black_powder, "Black Powder" %><br />
        <%= f.check_box :brawling %>&nbsp;<%= f.label :brawling, "Brawling" %><br />
        <%= f.check_box :dueling %>&nbsp;<%= f.label :dueling, "Dueling" %><br />
        <%= f.check_box :grenades %>&nbsp;<%= f.label :grenades, "Grenades" %><br />
        <%= f.check_box :light_blades %>&nbsp;<%= f.label :light_blades, "Light Blades" %><br />
        <%= f.check_box :staves %>&nbsp;<%= f.label :staves, "Staves" %>
      </td>
    </div>
  </tr>

  <tr>
    <div class="form-inline">
      <td colspan="2"><%= f.select :communication, @ability_options, include_blank: false, selected: "0" %>
        <%= f.label :communication %></td>
 
      <td>
        <%= f.check_box :animal_handling %>&nbsp;<%= f.label :animal_handling, "Animal Handling" %><br />
        <%= f.check_box :bargaining %>&nbsp;<%= f.label :bargaining, "Bargaining" %><br />
        <%= f.check_box :deception %>&nbsp;<%= f.label :deception, "Deception" %><br />
        <%= f.check_box :disguise %>&nbsp;<%= f.label :disguise, "Disguise" %><br />
        <%= f.check_box :etiquette %>&nbsp;<%= f.label :etiquette, "Etiquette" %><br />
        <%= f.check_box :gambling %>&nbsp;<%= f.label :gambling, "Gambling" %><br />
        <%= f.check_box :investigation %>&nbsp;<%= f.label :investigation, "Investigation" %><br />
        <%= f.check_box :leadership %>&nbsp;<%= f.label :leadership, "Leadership" %><br />
        <%= f.check_box :performance %>&nbsp;<%= f.label :performance, "Performance" %><br />
        <%= f.check_box :persuasion %>&nbsp;<%= f.label :persuasion, "Persuasion" %><br />
        <%= f.check_box :seduction %>&nbsp;<%= f.label :seduction, "Seduction" %>
      </td>
    </div>
  </tr>
  
  <tr>
    <div class="form-inline">
      <td colspan="2"><%= f.select :constitution, @ability_options, include_blank: false, selected: "0" %>
        <%= f.label :constitution %></td>
      
      <td>
        <%= f.check_box :drinking %>&nbsp;<%= f.label :drinking, "Drinking" %><br />
        <%= f.check_box :rowing %>&nbsp;<%= f.label :rowing, "Rowing" %><br />
        <%= f.check_box :running %>&nbsp;<%= f.label :running, "Running" %><br />
        <%= f.check_box :stamina %>&nbsp;<%= f.label :stamina, "Stamina" %><br />
        <%= f.check_box :swimming %>&nbsp;<%= f.label :swimming, "Swimming" %>
      </td>
    </div>
  </tr>
  
  <tr>
    <div class="form-inline">
      <td colspan="2"><%= f.select :dexterity, @ability_options, include_blank: false, selected: "0" %>
        <%= f.label :dexterity %></td>
      
      <td>
        <%= f.check_box :acrobatics %>&nbsp;<%= f.label :acrobatics, "Acrobatics" %><br />
        <%= f.check_box :calligraphy %>&nbsp;<%= f.label :calligraphy, "Calligrphy" %><br />
        <%= f.check_box :crafting %>&nbsp;<%= f.label :crafting, "Crafting" %><br />
        <%= f.check_box :initiative %>&nbsp;<%= f.label :initiative, "Initiative" %><br />
        <%= f.check_box :legerdemain %>&nbsp;<%= f.label :legerdemain, "Legerdemain" %><br />
        <%= f.check_box :lock_picking %>&nbsp;<%= f.label :lock_picking, "Lock Picking" %><br />
        <%= f.check_box :riding %>&nbsp;<%= f.label :riding, "Riding" %><br />
        <%= f.check_box :piloting %>&nbsp;<%= f.label :piloting, "Piloting" %><br />
        <%= f.check_box :sailing %>&nbsp;<%= f.label :sailing, "Sailing" %><br />
        <%= f.check_box :stealth %>&nbsp;<%= f.label :stealth, "Stealth" %><br />
        <%= f.check_box :traps %>&nbsp;<%= f.label :traps, "Traps" %>
      </td>
    </div>
  </tr>
  
  <tr>
    <div class="form-inline">
      <td colspan="2"><%= f.select :fighting, @ability_options, include_blank: false, selected: "0" %>
        <%= f.label :fighting %></td>
      
      <td>
        <%= f.check_box :axes %>&nbsp;<%= f.label :axes, "Axes" %><br />
        <%= f.check_box :bludgeons %>&nbsp;<%= f.label :bludgeons, "Bludgeons" %><br />
        <%= f.check_box :heavy_blades %>&nbsp;<%= f.label :heavy_blades, "Heavy Blades" %><br />
        <%= f.check_box :lances %>&nbsp;<%= f.label :lances, "Lances" %><br />
        <%= f.check_box :polearms %>&nbsp;<%= f.label :polearms, "Polearms" %><br />
        <%= f.check_box :spears %>&nbsp;<%= f.label :spears, "Spears" %>
      </td>
    </div>
  </tr>
  
  <tr>
    <div class="form-inline">
      <td colspan="2"><%= f.select :intelligence, @ability_options, include_blank: false, selected: "0" %>
        <%= f.label :intelligence %></td>
      
      <td>
        <%= f.check_box :arcane_lore %>&nbsp;<%= f.label :arcane_lore, "Arcane Lore" %><br />
        <%= f.check_box :brewing %>&nbsp;<%= f.label :brewing, "Brewing" %><br />
        <%= f.check_box :cartography %>&nbsp;<%= f.label :cartography, "Cartography" %><br />
        <%= f.check_box :cryptography %>&nbsp;<%= f.label :cryptography, "Cryptography" %><br />
        <%= f.check_box :cultural_lore %>&nbsp;<%= f.label :cultural_lore, "Cultural Lore" %><br />
        <%= f.check_box :engineering %>&nbsp;<%= f.label :engineering, "Engineering" %><br />
        <%= f.check_box :evaluation %>&nbsp;<%= f.label :evaluation, "Evaluation" %><br />
        <%= f.check_box :healing %>&nbsp;<%= f.label :healing, "Healing" %><br />
        <%= f.check_box :heraldry %>&nbsp;<%= f.label :heraldry, "Heraldry" %><br />
        <%= f.check_box :historical_lore %>&nbsp;<%= f.label :historical_lore, "Historical Lore" %><br />
        <%= f.check_box :military_lore %>&nbsp;<%= f.label :military_lore, "Military Lore" %><br />
        <%= f.check_box :musical_lore %>&nbsp;<%= f.label :musical_lore, "Musical Lore" %><br />
        <%= f.check_box :natural_lore %>&nbsp;<%= f.label :natural_lore, "Natural Lore" %><br />
        <%= f.check_box :navigation %>&nbsp;<%= f.label :navigation, "Navigation" %><br />
        <%= f.check_box :religious_lore %>&nbsp;<%= f.label :religious_lore, "Religious Lore" %><br />
        <%= f.check_box :research %>&nbsp;<%= f.label :research, "Research" %><br />
        <%= f.check_box :writing %>&nbsp;<%= f.label :writing, "Writing" %>
      </td>
    </div>
  </tr>
  
  <tr>
    <div class="form-inline">
      <td colspan="2"><%= f.select :perception, @ability_options, include_blank: false, selected: "0" %>
        <%= f.label :perception %></td>
      
      <td>
        <%= f.check_box :empathy %>&nbsp;<%= f.label :empathy, "Empathy" %><br />
        <%= f.check_box :hearing %>&nbsp;<%= f.label :hearing, "Hearing" %><br />
        <%= f.check_box :searching %>&nbsp;<%= f.label :searching, "Searching" %><br />
        <%= f.check_box :seeing %>&nbsp;<%= f.label :seeing, "Seeing" %><br />
        <%= f.check_box :smelling %>&nbsp;<%= f.label :smelling, "Smelling" %><br />
        <%= f.check_box :tracking %>&nbsp;<%= f.label :tracking, "Tracking" %>
      </td>
    </div>
  </tr>
  
  <tr>
    <div class="form-inline">
      <td colspan="2"><%= f.select :strength, @ability_options, include_blank: false, selected: "0" %>
        <%= f.label :strength %></td>
      
      <td>
        <%= f.check_box :climbing %>&nbsp;<%= f.label :climbing, "Climbing" %><br />
        <%= f.check_box :driving %>&nbsp;<%= f.label :driving, "Driving" %><br />
        <%= f.check_box :intimidation %>&nbsp;<%= f.label :intimidation, "Intimidation" %><br />
        <%= f.check_box :jumping %>&nbsp;<%= f.label :jumping, "Jumping" %><br />
        <%= f.check_box :might %>&nbsp;<%= f.label :might, "Might" %><br />
        <%= f.check_box :smithing %>&nbsp;<%= f.label :smithing, "Smithing" %>
      </td>
    </div>
  </tr>
  
  <tr>
    <div class="form-inline">
      <td colspan="2"><%= f.select :willpower, @ability_options, include_blank: false, selected: "0" %>
        <%= f.label :willpower %></td>
      
      <td>
        <%= f.check_box :courage %>&nbsp;<%= f.label :courage, "Courage" %><br />
        <%= f.check_box :faith %>&nbsp;<%= f.label :faith, "Faith" %><br />
        <%= f.check_box :morale %>&nbsp;<%= f.label :morale, "Morale" %><br />
        <%= f.check_box :self_discipline %>&nbsp;<%= f.label :self_discipline, "Self-Discipline" %>
      </td>
    </div>
  </tr>
  
  <tr class="warning text-center">
    <td colspan="3"><strong>Attacks</strong></td>
  </tr>
  
  <tr>
    <td class="text-center">
      <%= f.label :weapon_1, "Weapon" %><br />
      <%= f.text_field :weapon_1, class: 'form-inline', placeholder: "Leave clear if none" %>
    </td>
      
    <td class="text-center">
      <%= f.label :attack_1, "Attack Roll" %><br />
      <%= f.select :attack_1, @attack_options, include_blank: false, selected: "0" %>
    </td>
    
    <td class="text-center">      
      <%= f.label :damage_1, "Damage" %><br />
      <%= f.text_field :damage_1, class: 'form-inline' %>
    </td>
  </tr>
  
  <tr>
    <td class="text-center">
      <%= f.label :weapon_2, "Weapon" %><br />
      <%= f.text_field :weapon_2, class: 'form-inline', placeholder: "Leave clear if none" %>
    </td>
      
    <td class="text-center">
      <%= f.label :attack_2, "Attack Roll" %><br />
      <%= f.select :attack_2, @attack_options, include_blank: false, selected: "0" %>
    </td>
    
    <td class="text-center">      
      <%= f.label :damage_2, "Damage" %><br />
      <%= f.text_field :damage_2, class: 'form-inline' %>
    </td>
  </tr>
  
  <tr>
    <td class="text-center">
      <%= f.label :weapon_3, "Weapon" %><br />
      <%= f.text_field :weapon_3, class: 'form-inline', placeholder: "Leave clear if none" %>
    </td>
      
    <td class="text-center">
      <%= f.label :attack_3, "Attack Roll" %><br />
      <%= f.select :attack_3, @attack_options, include_blank: false, selected: "0" %>
    </td>
    
    <td class="text-center">      
      <%= f.label :damage_3, "Damage" %><br />
      <%= f.text_field :damage_3, class: 'form-inline' %>
    </td>
  </tr>
  
  <tr>
    <td class="text-center">
      <%= f.label :weapon_4, "Weapon" %><br />
      <%= f.text_field :weapon_4, class: 'form-inline', placeholder: "Leave clear if none" %>
    </td>
      
    <td class="text-center">
      <%= f.label :attack_4, "Attack Roll" %><br />
      <%= f.select :attack_4, @attack_options, include_blank: false, selected: "0" %>
    </td>
    
    <td class="text-center">      
      <%= f.label :damage_4, "Damage" %><br />
      <%= f.text_field :damage_4, class: 'form-inline' %>
    </td>
  </tr>
  
  <tr>
    <td class="text-center">
      <%= f.label :weapon_5, "Weapon" %><br />
      <%= f.text_field :weapon_5, class: 'form-inline', placeholder: "Leave clear if none" %>
    </td>
      
    <td class="text-center">
      <%= f.label :attack_5, "Attack Roll" %><br />
      <%= f.select :attack_5, @attack_options, include_blank: false, selected: "0" %>
    </td>
    
    <td class="text-center">      
      <%= f.label :damage_5, "Damage" %><br />
      <%= f.text_field :damage_5, class: 'form-inline' %>
    </td>
  </tr>
  
</table>

<br /><br />

<div class="form-group text-center">
  <%= f.submit "Generate", class: 'btn btn-success' %>
</div>

<% end %>