<br /><br />
<div class="row">
  <div class="col-md-4"></div>
  
  <div class="col-md-4">
    
    <table class="table">
      
      <tr class="danger text-center">
        <td colspan="2"><strong class="text-left"><%= @monster.name %></strong>
        <em>(<%= @monster.mon_type %>)</em></td>
      </tr>
      
      <tr class="warning text-center">
        <td colspan="2"><strong>Combat Ratings</strong></td>
      </tr>
      
      <tr>
        <td colspan="2" class="text-center">
          Speed: <%= @monster.speed %>&nbsp;&nbsp;&nbsp;
          Health: <%= @monster.health %>&nbsp;&nbsp;&nbsp;
          Defense: <%= @monster.defense %>&nbsp;&nbsp;&nbsp;
          Armor: <%= @monster.armor %>
        </td>
      </tr>
      
      <% if @monster.s_ability_confirmation == true %>
        <tr class="warning text-center">
          <td colspan="2"><strong>Spellcasting</strong></td>
        </tr>
      
        <tr>
          <td colspan="2" class="text-center">
            Spellpower: <%= @monster.spellpower %>&nbsp;&nbsp;&nbsp;
            Mana: <%= @monster.mana %>
          </td>
        </tr>
      <% end %>
      
      <tr class="warning text-center">
        <td colspan="2"><strong>Abilities (Focuses)</strong></td>
      </tr>
      
      <tr>
        <td class="text-center"><%= @monster.accuracy %></td>
        <% if @acc_total == 0 %>
          <td class="text-center">Accuracy</td>
        <% else %>
          <td class="text-center">Accuracy (<%= @acc_true_list %>)</td>
        <% end %>
      </tr>
      
      <tr>
        <td class="text-center"><%= @monster.communication %></td>
        <% if @com_total == 0 %>
          <td class="text-center">Communication</td>
        <% else %>
          <td class="text-center">Communication (<%= @com_true_list %>)</td>
        <% end %>
      </tr>
      
      <tr>
        <td class="text-center"><%= @monster.constitution %></td>
        <% if @con_total == 0 %>
          <td class="text-center">Constitution</td>
        <% else %>
          <td class="text-center">Constitution (<%= @con_true_list %>)</td>
        <% end %>
      </tr>
      
      <tr>
        <td class="text-center"><%= @monster.dexterity %></td>
        <% if @dex_total == 0 %>
          <td class="text-center">Dexterity</td>
        <% else %>
          <td class="text-center">Dexterity (<%= @dex_true_list %>)</td>
        <% end %>
      </tr>
      
      <tr>
        <td class="text-center"><%= @monster.fighting %></td>
        <% if @fig_total == 0 %>
          <td class="text-center">Fighting</td>
        <% else %>
          <td class="text-center">Fighting (<%= @fig_true_list %>)</td>
        <% end %>
      </tr>
      
      <tr>
        <td class="text-center"><%= @monster.intelligence %></td>
        <% if @int_total == 0 %>
          <td class="text-center">Intelligence</td>
        <% else %>
          <td class="text-center">Intelligence (<%= @int_true_list %>)</td>
        <% end %>
      </tr>
      
      <tr>
        <td class="text-center"><%= @monster.perception %></td>
        <% if @per_total == 0 %>
          <td class="text-center">Perception</td>
        <% else %>
          <td class="text-center">Perception (<%= @per_true_list %>)</td>
        <% end %>
      </tr>
      
      <tr>
        <td class="text-center"><%= @monster.strength %></td>
        <% if @str_total == 0 %>
          <td class="text-center">Strength</td>
        <% else %>
          <td class="text-center">Strength (<%= @str_true_list %>)</td>
        <% end %>
      </tr>
      
      <tr>
        <td class="text-center"><%= @monster.willpower %></td>
        <% if @wil_total == 0 %>
          <td class="text-center">Willpower</td>
        <% else %>
          <td class="text-center">Willpower (<%= @wil_true_list %>)</td>
        <% end %>
      </tr>
      
      <tr class="warning text-center">
        <td colspan="2"><strong>Attacks</strong></td>
      </tr>
      
      <% if @monster.weapon_1? %>
        <tr>
          <td colspan="2">
            <strong><%= @monster.weapon_1 %>:</strong> 
            <em>
              <% if @monster.range_1 == true %>
                Ranged Attack (Reload: <%= @monster.reload_1 %>),
              <% else %>
                Melee Attack,
              <% end %>
            </em>
            <%= @monster.distance_1 %>, <%= @monster.attack_1 %> to hit, <%= @monster.target_1 %>.<br />
            <em>On Hit:</em> <%= @monster.damage_1 %> damage.
          </td>
        </tr>
      <% end %>
      
      <% if @monster.weapon_2? %>
        <tr>
          <td colspan="2">
            <strong><%= @monster.weapon_2 %>:</strong>
            <em>
              <% if @monster.range_2 == true %>
                Ranged Attack (Reload: <%= @monster.reload_2 %>),
              <% else %>
                Melee Attack,
              <% end %>
            </em>
            <%= @monster.distance_2 %>, <%= @monster.attack_2 %> to hit, <%= @monster.target_2 %>.<br />
            <em>On Hit:</em> <%= @monster.damage_2 %> damage.
          </td>
        </tr>
      <% end %>
      
      <% if @monster.weapon_3? %>
        <tr>
          <td colspan="2">
            <strong><%= @monster.weapon_3 %>:</strong>
            <em>
              <% if @monster.range_3 == true %>
                Ranged Attack (Reload: <%= @monster.reload_3 %>),
              <% else %>
                Melee Attack,
              <% end %>
            </em>
            <%= @monster.distance_3 %>, <%= @monster.attack_3 %> to hit, <%= @monster.target_3 %>.<br />
            <em>On Hit:</em> <%= @monster.damage_3 %> damage.
          </td>
        </tr>
      <% end %>
      
      <% if @monster.weapon_4? %>
        <tr>
          <td colspan="2">
            <strong><%= @monster.weapon_4 %>:</strong>
            <em>
              <% if @monster.range_4 == true %>
                Ranged Attack (Reload: <%= @monster.reload_4 %>),
              <% else %>
                Melee Attack,
              <% end %>
            </em>
            <%= @monster.distance_4 %>, <%= @monster.attack_4 %> to hit, <%= @monster.target_4 %>.<br />
            <em>On Hit:</em> <%= @monster.damage_4 %> damage.
          </td>
        </tr>
      <% end %>
      
      <% if @monster.weapon_5? %>
        <tr>
          <td colspan="2">
            <strong><%= @monster.weapon_5 %>:</strong>
            <em>
              <% if @monster.range_5 == true %>
                Ranged Attack (Reload: <%= @monster.reload_5 %>),
              <% else %>
                Melee Attack,
              <% end %>
            </em>
            <%= @monster.distance_5 %>, <%= @monster.attack_5 %> to hit, <%= @monster.target_5 %>.<br />
            <em>On Hit:</em> <%= @monster.damage_5 %> damage.
          </td>
        </tr>
      <% end %>
      
    </table>
    
  </div>
</div>